cumm_cu118==0.7.11
easydict==1.13
fire==0.7.0
kornia==0.8.0
lyft_dataset_sdk==0.0.8
matplotlib==3.6.1
mayavi==4.8.3.dev0
numba==0.60.0
numpy==1.23.0
open3d==0.19.0
pandas==1.5.3
protobuf==3.20.3
pyquaternion==0.9.9
PyYAML==6.0.2
PyYAML==6.0.2
scipy==1.16.1
setuptools==67.6.0
Shapely==2.1.1
SharedArray==3.2.4
skimage==0.0
spconv_cu118==2.3.8
tensorboardX==2.6.4
tensorflow==2.12.0
thop==0.1.1.post2209072238
torch==2.0.0
torch_scatter==2.1.2
torchvision==0.15.0
tqdm==4.67.1
waymo_open_dataset==1.0.1
